body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.window {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  width: 50%;
  padding: 20px;
}


@media screen and (max-width: 1000px) {
  .middle {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .middle {
    width: 90%;
  }
}
